@import "./lib/reset.scss";
@import "./lib/variables.scss";
@import "./lib/mixins.scss";

/*** common css ****/
*, *::after, *::bfore{
    box-sizing: border-box;
}
body{
    font-size: $font-size-base;
    font-family: $font-family-base1;
    font-family: $font-family-base2;
    color: $color-base;
    line-height: $line-height-base;
}
html{
    height: 100%;
}

h1 {
    font-size: $h1-font-size;
  }
  
  h2 {
    font-size: $h2-font-size;
  }
  
  h3 {
    font-size: $h3-font-size;
  }
  
  h4 {
    font-size: $h4-font-size;
  }
  
  h5 {
    font-size: $h5-font-size;
  }
  
  h6 {
    font-size: $h6-font-size;
  }
  
  h1 {
    font-weight: $font-weight-medium;
  }

img{
    width: 100%;
}


  /*  main ***/
#main {
    background-color: $color-base;
    padding: 25px 10px;
    min-height: 100vh;
}
#main_left{
    picture{
        display: block;
        position: relative;
        padding-right: 1rem;
        &::before{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1rem;
            background-color: #febc44;
            -webkit-clip-path: polygon(0 0,80% 3%,80% 97%,0 100%);
            clip-path: polygon(0 0,80% 3%,80% 97%,0 100%);
        }

    }
}
#main_right{
    background-color: $color3;
    padding: 25px 10px;
    min-height: 50vh;
    text-align: center;
    
    h2{
        color: $color1;
        font-size: 25px;
        font-weight: $font-weight-base;
        line-height: 25px;
        font-weight: $font-weight-bold;
    }
    p{
        line-height: 16px;
        font-size: 12px;
    }
    .col-sm-6{
        margin: auto;
    }
    
}
#main_right_header{
    text-align: center;
    max-width: 410px;
    margin: 0 auto;
}
.civilite{
    color:$color4;
    font-weight: $font-weight-medium;

}

input[type="text"]{
    box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
    border-color: #febc44;
    font-size: 14px;
    padding: .375rem 1rem;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    outline: none;
    
}
select{
    box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
    border-color: #febc44;
    font-size: 14px;
    padding: .375rem 1rem;
    border-radius: 30px;
    width: 84%;
    margin-bottom: 20px;
    outline: none;
    
}

.b-form-btn-label-control.form-control {
    border-radius: 50px;
    border-color: #febc44;
}

.btn-add-parent{
    border: none;
    color: #3284c5;
    font-size: 14px;
    background: transparent url(./assets/parent.png) 0 no-repeat;
    padding-left: 47px;
    line-height: 47px;
    padding-bottom: 4px;
    background-size: 44px;
}

#loi{
    display: flex;
    justify-content: center;
    align-items: center;
    label{
        line-height: 16px;
         font-size: 12px;
         color: #757575;
         position: relative;
         padding-left: 30px;
         margin-bottom: .5rem;
         margin-bottom: 30px;
    }
}
.btn-primary{
    background-color: #023e7f;
    font-size: 15px;
    padding: .75rem 1rem;
    min-width: 150px;
    line-height: 1.5;
    border-radius: 30px;
    color: #fff;
    border: 0;
}

.validation{
   text-align: center;
   margin-left: 56px;
    select{
        box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
        border-color: #febc44;
        font-size: 14px;
        padding: .375rem 1rem;
        border-radius: 30px;
        display: block;
        width: 100%;
        height: calc(2.2em + .75rem + 2px);
        margin-bottom: 40px;
        font-weight:400;
        line-height: 2.2;
        color: #495057;
        outline-style: none;
    }
    img{
        width: 100px;
    }
    h2{
        color: #3284c5;
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
    }
    .p1{
        line-height: 1.5;
        word-break: break-word;
        max-width: 400px;
    }
    .p2{
        color: #febc44;
        font-weight: bold;
    }
    .precedent{
        cursor: pointer;
        min-width: 110px;
        font-size: 15px;
        padding: .75rem 1rem;
        min-width: 140px;
        line-height: 1.5;
        border-radius: 30px;
        border: 0;
        background-color: #febc44!important;
        color: #023e7f!important;
        margin: 2px;
        
    }
    .suivant{
        cursor: pointer;
        min-width: 140px;
        font-size: 15px;
        padding: .75rem 1rem;
        min-width: 140px;
        line-height: 1.5;
        border-radius: 30px;
        color: #fff;
        border: 0;
        background-color: #023e7f;
        margin-right: 10px;
        margin: 2px;
    }
    
}
.parent_info{
    
        border: 1px solid hsla(0,0%,76.1%,.5);
        border-radius: 5px;
        position: relative;
        padding: 12px;
        margin-bottom: 15px;
    .col-md-5,.col-md-7{
        font-weight: 500;
        color: #212529;
        margin-bottom: 10px;
    }

    button, button:hover{
        background: transparent;
        border: none;
        color: black;
    }
   
    .parent_name{
        color: #023e7f;
        font-weight: bold;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;  
        
    }
}
.enfant_info{
    
    border: 1px solid hsla(0,0%,76.1%,.5);
    border-radius: 5px;
    position: relative;
    padding: 12px;
    margin-bottom: 15px;
    .col-md-5,.col-md-7{
        font-weight: 500;
        color: #212529;
        margin-bottom: 10px;
    }

    

button, button:hover{
    background: transparent;
    border: none;
    color: black;
}

.enfant_name{
    color: #023e7f;
    font-weight: bold;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;  
    
}
}


.custom-select{
    box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
    border-color: #febc44;
    font-size: 14px;
    padding: .375rem 1rem;
    border-radius: 30px;
    outline: none;
    width: 100%;
}
.button-delete{
    padding: 0!important;
    background: transparent;
    cursor: pointer;
    z-index: 2;

    position: absolute;
    top: -1px;
    right: 10px;
    width: 12px;
    height: 12px;
    border: none;

    &:hover,
    &:focus{
        background: transparent;
        opacity: 1;
        color: $secondColor;
        box-shadow: none;
    }

}
.civilite-group{
    text-align: center;
    margin: 20px 0;
    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-2{
        padding:0% !important
    }
}
.select-country  {
    
        box-shadow: 0 15px 25px rgba(0,0,0,.1);
        border-color: #febc44!important;
        font-size: 14px;
        padding: .375rem 1rem!important;
        border-radius: 30px!important;
    
}
#profession{
    margin: 0 auto;
}
.droit{
    line-height: 16px;
    font-size: 12px;
    color: #757575;
}
.c-radio input+label:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #febc44;
    border-radius: 50%!important;
    top: 2px;
    left: -26px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}
.c-radio input {
    opacity: 0;
    width: 1px;
    height: 1px;
    float: left;
}
.enfant-precedent{
    cursor: pointer;
    min-width: 110px;
    font-size: 15px;
    //padding: -9.625rem ​0.75rem;
    min-width: 140px;
    line-height: 1.5;
    border-radius: 30px;
    border: none!important;
    background-color: #febc44!important;
    color: #023e7f!important;
    margin: 5px;
}

//================================
//== slider component
//================================
.custom-progress{
    height: 400px;
    width: 5px;
    left: 30px;
    top: 50%;
    position: absolute;
    overflow: visible;
    transform: translateY(-50%);
    background: $mainColor;
    .progress-bar{
        background: $secondColor;
        width: 100%;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        height: var(--width);
        // height: 50%;
    }
    
    .slide-point{
        position: absolute;
        left: 100%;
        top: -8px;
        transform: translateX(5px);
        font-size: 20px;
        font-weight: 700;
        padding-left: 15px;
        color: $mainColor;
        &.active{
            color: $secondColor;
        }
        &::after,
        &::before{
            position: absolute;
            content: "";
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #FFF;
            border: 1px solid #EEE;
            //@extend %box-shadow;
            left: -16px;
            top: -5px;

        }
        &::after{
            width: 6px;
            height: 6px;
            top: 1px;
            left: -11px;
            background: $secondColor;
            border-color: $secondColor;
        }
        &:nth-of-type(2){
            top: 50%;
        }
        &:nth-of-type(3){
            top: 100%;
        }
    }
}

//================================
//== Confirmation modal
//================================

    .modal-header{
        display: none!important;
    }
    .modal-footer{
        display: none!important;
    }
    .modal-body{
        button{
        background-color: #023e7f;
        border-radius: 50px;
        padding: 4px 40px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 27px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 20px;
    }
    }
.confirmation-modal {
   
    .modal-card-body{
        width: 350px;
        height: 250px;
        text-align: center;
        border-radius: 10px;
        margin: auto;
        overflow: hidden;
        padding: 10px;
    }

    .check-icon{
        font-size: 30px;
        display: inline-block;
        width: 55px;
        height: 55px;
        line-height: 52px;
        color: $mainColor;
        border: 2px solid $mainColor;
        margin-bottom: 10px;
        border-radius: 55px;
    }
    h4{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
        color: $blue;
    }

    .button {
        display: inline-block;
        // width: 140px;
        padding: 15px 20px;
        border-radius: 25px;
        border: 0;
        color: #FFF;
        height: auto;
        width: 140px;
        //@extend %box-shadow;
        line-height: 1;
        background: $secondColor;
        &.is-light{
            background: $secondColor;
            &:hover,
            &:focus,
            &:active{
                color: #FFF;
            }

            
        }
    }
}

.droit{
    line-height: 16px;
    font-size: 12px;
    color: #757575;
    text-align: justify;
}
.admission{
    .p1{
        margin: 0 auto;
    }
}


//================================
//== Phone Number Wrapper
//================================
.phone-wrapper{
    position: relative;
    .phones-code{
        position: absolute;
        z-index: 2;
        width: 77px;
        border-radius: 30px 0 0 30px;
        
        .input{
            border: 0;
            background: transparent;
            box-shadow: none;
            border-top-right-radius: 0;
            border-bottom-right-radius:0;
            border: none!important;
        }
        
        &::before{
            position: absolute;
            content: "";
            height: 24px;
            width: 1px;
            background: #023e7f2e;
            top: 10px;
            right: 4px;
        }
        .select{
            select{
                border: 0;
                background-color: transparent;
                height: calc(1.5em + 0.75rem + 8px);
                font-weight: 500;
                font-size: 15px;
                padding-right: 2em;
                &:focus{
                    box-shadow: none;
                    border: 0;
                }
            }
            &::after{
                margin-top: -0.3375em; 
                border-color: $mainColor;
            }
            &:hover{
                &::after{
                    border-color: $mainColor;
                }

            }
        }
    }
    .phone-number{
        position: relative;
        z-index: 1;
        text-align: right;
        .input{
            padding-left: 80px;
            
        }
    }
}


/*************** steps *************/
.steps {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    width: 30px;
    position: absolute;
    left: 15px;
    top: 5%;
    bottom: 10%;
}



.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1;
    position: relative;
    pointer-events: none;
    margin-bottom: 0;

    &:before{
        content: "";
        position: absolute;
        background-color: #febc44;
        left: 50%;
        width: 4px;
        bottom: 0;
        top: 0;
        transform: translate(-50%);
    }
     .step__icon {
        -webkit-animation: bounce .5s ease-in-out;
        animation: bounce .5s ease-in-out;
        background-color: #fff;
        color: #fff;
        display: block;
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
       /* &:before{
            content: "";
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: #023e7f;
            border-radius: 50%;
            top: 3px;
            left: 3px;
            box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
        }*/
    }
    .step-num {
        right: 0;
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        color: #febc44;
        font-weight: 900;
        font-size: 20px;
        display: inline-block;
    }
}
.step--active:before, .step--complete:before {
    background-color: #3284c5;
}
.step--active:before, .step--complete:before, .step--inactive:before, .step--incomplete:before {
    content: "";
    position: absolute;
    //background-color: #febc44;
    left: 50%;
    width: 4px;
    bottom: 0;
    top: 0;
    transform: translate(-50%);
}
.step--active .step__icon:before, .step--complete .step__icon:before, .step--inactive .step__icon:before, .step--incomplete .step__icon:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #023e7f;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}
.step--active .step-num, .step--complete .step-num {
    color: #3284c5;
}

/*************@media************************/
@media (max-width: 768px){
    .steps {
        top: 0.6rem;
        flex-direction: row;
        bottom: inherit;
        height: 30px;
        left: 31px;
        right: 0;
        width: 84%;
        margin-bottom: 10px;
    }
    .steps:before {
        left: 0;
    }
    .steps:after, .steps:before {
        content: "";
        position: absolute;
        width: 16%;
        transform: translateY(-50%);
        background-color: #fff;
        z-index: 1;
        height: 10px;
        top: 50%!important;
        bottom: inherit;
    }
    .step--active:before, .step--complete:before, .step--inactive:before, .step--incomplete:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: inherit;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
    }
    .step .step-num {
        right: inherit;
        top: 0;
        transform: translate(0);
        font-size: 17px;
        padding-top: 1.2rem;
    }
    .steps:after {
        left: 84%;
    }
    .steps:after, .steps:before {
        content: "";
        position: absolute;
        width: 16%;
        transform: translateY(-50%);
        background-color: #fff;
        z-index: 1;
        height: 10px;
        top: 50%!important;
        bottom: inherit;
    }
    #main_right_header {
        margin-top: 45px;
        p{
            margin: 0;
        }
    }
    
    input[type=text] {
        &::placeholder{
            font-size: 10px;
        }
    }
    .datepicker {
        border:none;
        &::placeholder{
            font-size: 5px;
        }
    }
    .b-form-btn-label-control.form-control > .form-control {
        font-size: 10px!important;
     }  
   
}